<aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
    <img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
    style="opacity: .8">
    <span class="brand-text font-weight-light">BeautyStudio|MS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/home" th:text="${user.fullName}" class="d-block"></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/home" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/employees/add" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Employee
            </p>
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a href="/categories/add" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Category
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/locations/add" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Location
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/services/add" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Service
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/appointments/add" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Appointment
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/employees" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Employees
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/categories" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Categories
            </p>
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a href="/locations" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Locations
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/services" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Services
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/appointments" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Manage Appointments
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>